<a href="https://colab.research.google.com/github/rishilmsr/sct-meetup/blob/students/week-1/assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Assignment - Intro to Python and Data Structures
The assignment is for students to get a feel of the lesson discussed this week. You are free to ask any doubts regarding working out any questions in the group. Also, updating the worked out notebook on Github is very much engaged, be sure to mention School of AI, Trivandrum. Additional recognition for students who document the work using *markdown*.

##### 1) Read the contents of test.csv

In [2]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving test.csv to test.csv
User uploaded file "test.csv" with length 800 bytes

In [15]:
file=open('test.csv','r')
file_data=file.read()
file_data_lines=file_data.split('\r\n')
matrix = []
for line in file_data_lines:
    processed_line = line.split(',')
    matrix.append(processed_line)
matrix

[['Loan_ID',
  'Gender',
  'Married',
  'Education',
  'ApplicantIncome',
  'LoanAmount',
  'Property_Area'],
 ['LP001015', 'Male', 'Yes', 'Graduate', '5720', '110', 'Urban'],
 ['LP001022', 'Male', 'Yes', 'Graduate', '3076', '126', 'Urban'],
 ['LP001031', 'Male', 'Yes', 'Graduate', '5000', '208', 'Urban'],
 ['LP001035', 'Male', 'Yes', 'Graduate', '2340', '100', 'Urban'],
 ['LP001051', 'Male', 'No', 'Not Graduate', '3276', '78', 'Urban'],
 ['LP001054', 'Male', 'Yes', 'Not Graduate', '2165', '152', 'Urban'],
 ['LP001055', 'Female', 'No', 'Not Graduate', '2226', '59', 'Semiurban'],
 ['LP001056', 'Male', 'Yes', 'Not Graduate', '3881', '147', 'Rural'],
 ['LP001059', 'Male', 'Yes', 'Graduate', '13633', '280', 'Urban'],
 ['LP001067', 'Male', 'No', 'Not Graduate', '2400', '123', 'Semiurban'],
 ['LP001078', 'Male', 'No', 'Not Graduate', '3091', '90', 'Urban'],
 ['LP001082', 'Male', 'Yes', 'Graduate', '2185', '162', 'Semiurban'],
 ['LP001083', 'Male', 'No', 'Graduate', '4166', '40', 'Urban'],
 ['LP001094', 'Male', 'Yes', 'Graduate', '12173', '166', 'Semiurban'],
 ['LP001096', 'Female', 'No', 'Graduate', '4666', '124', 'Semiurban'],
 ['LP001099', 'Male', 'No', 'Graduate', '5667', '131', 'Urban']]

##### 2) Replace the *Graduate* and *Not Graduate* in the Education column by 1 and 0 respectively

In [20]:
import pandas as pd
file45=pd.read_csv('test.csv')
file45['Education']= file45['Education'].str.replace('Not Graduate','0')
file45['Education']= file45['Education'].str.replace('Graduate','1')
file45

,Loan_ID,Gender,Married,Education,ApplicantIncome,LoanAmount,Property_Area
0,LP001015,Male,Yes,1,5720,110,Urban
1,LP001022,Male,Yes,1,3076,126,Urban
2,LP001031,Male,Yes,1,5000,208,Urban
3,LP001035,Male,Yes,1,2340,100,Urban
4,LP001051,Male,No,0,3276,78,Urban
5,LP001054,Male,Yes,0,2165,152,Urban
6,LP001055,Female,No,0,2226,59,Semiurban
7,LP001056,Male,Yes,0,3881,147,Rural
8,LP001059,Male,Yes,1,13633,280,Urban
9,LP001067,Male,No,0,2400,123,Semiurban
10,LP001078,Male,No,0,3091,90,Urban
11,LP001082,Male,Yes,1,2185,162,Semiurban
12,LP001083,Male,No,1,4166,40,Urban
13,LP001094,Male,Yes,1,12173,166,Semiurban
14,LP001096,Female,No,1,4666,124,Semiurban
15,LP001099,Male,No,1,5667,131,Urban

##### 3) Find the minimum and maximum value of *Loan Amount*. Also calculate the mean *Loan Amount*

In [34]:
temp=file45["LoanAmount"]
sum=0
for i in temp:
  maximum=max(temp)
  minimum=min(temp)
  sum=sum+i
  avg=sum/16

  
print"Maximum Loan amount is",maximum
print"Minimum Loan amount is",minimum
print"Average Amount is",avg

Maximum Loan amount is 280
Minimum Loan amount is 40
Average Amount is 131